{%extends "base.html"%}
{%load static%}
{% load crispy_forms_tags %}
{%block title%} Create Report {%endblock title%}

{%block contant%}
<section id="interface">
    <h3 style=" margin-left: 15px; margin-top: 25px;">
        Add Report
    </h3>
   
    <div class="container ">
        <div class="row my-5">
            <div class="col-md-12">
                <form action= "{% url 'report_form' %}" method="post" class="form">
                    {% csrf_token %}
                    {{report_form|crispy}}
                    {{ioc_form|crispy}}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>


</section>



{%endblock contant%}